@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 284 80% 44%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 3% 6%;
    --foreground: 0 0% 98%;

    --card: 180 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 180 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 174 93% 58%;
    --primary-foreground: 0 0% 2%;

    --secondary: 165 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 170 5% 22%;
    --muted-foreground: 175 5% 49%;

    --accent: 175 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 5% 12%;
    --input: 180 4% 18%;
    --ring: 174 92% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wallet-adapter-button-trigger {
  @apply bg-card text-card-foreground !important;
  border: 1px solid hsl(var(--border)) !important;
}

.wallet-adapter-button {
  border-radius: 14px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.wallet-adapter-dropdown > ul {
  background: hsl(var(--card)) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid hsl(var(--border)) !important;
  margin-right: 3px;
}
