@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/cream-paper.png");
  background-color: #589ca1;
}

@layer base {
  :root {
    --background: 176 100% 95%;
    --foreground: 176 5% 0%;
    --card: 176 50% 90%;
    --card-foreground: 176 5% 10%;
    --popover: 176 100% 95%;
    --popover-foreground: 176 100% 0%;
    --primary: 176 75% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 138 30% 85%;
    --muted-foreground: 176 5% 35%;
    --accent: 138 30% 80%;
    --accent-foreground: 176 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 176 5% 90%;
    --border: 176 30% 50%;
    --input: 176 30% 18%;
    --ring: 176 75% 45%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 176 50% 5%;
    --foreground: 176 5% 90%;
    --card: 176 50% 0%;
    --card-foreground: 176 5% 90%;
    --popover: 176 50% 5%;
    --popover-foreground: 176 5% 90%;
    --primary: 176 75% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 176 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 138 30% 15%;
    --muted-foreground: 176 5% 60%;
    --accent: 138 30% 15%;
    --accent-foreground: 176 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 176 5% 90%;
    --border: 176 30% 18%;
    --input: 176 30% 18%;
    --ring: 176 75% 45%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.wallet-adapter-button-trigger {
  @apply bg-card text-card-foreground !important;
}

.wallet-adapter-button {
  border-radius: 14px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.wallet-adapter-dropdown > ul {
  background: hsl(var(--card)) !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.wallet-adapter-dropdown > ul > li {
  @apply text-card-foreground;
}

.wallet-adapter-dropdown > ul > li:hover {
  @apply bg-card text-primary-foreground;
}
